<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

## Lab 4.2.1: Feature Selection

### 1. Load & Explore Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

#### 1.1 Load Data

In [2]:
# Read CSV
wine_csv = 'winequality_merged.csv'
wine = pd.read_csv(wine_csv)
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

#### 1.2 Explore Data (Exploratory Data Analysis)

In [3]:
# ANSWER
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [4]:
wine.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [5]:
wine.shape

(6497, 13)

In [6]:
wine.dtypes
#red_wine == 1 (yes)
#red_wine == 0 (no, white wine?)

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
red_wine                  int64
dtype: object

In [7]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  red_wine              6497 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 660.0 KB

In [8]:
wine.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
red_wine                0
dtype: int64

In [9]:
wine.corr()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
fixed acidity,1.000000,0.219008,0.324436,-0.111981,0.298195,-0.282735,-0.329054,0.458910,-0.252700,0.299568,-0.095452,-0.076743,0.486740
volatile acidity,0.219008,1.000000,-0.377981,-0.196011,0.377124,-0.352557,-0.414476,0.271296,0.261454,0.225984,-0.037640,-0.265699,0.653036
citric acid,0.324436,-0.377981,1.000000,0.142451,0.038998,0.133126,0.195242,0.096154,-0.329808,0.056197,-0.010493,0.085532,-0.187397
residual sugar,-0.111981,-0.196011,0.142451,1.000000,-0.128940,0.402871,0.495482,0.552517,-0.267320,-0.185927,-0.359415,-0.036980,-0.348821
chlorides,0.298195,0.377124,0.038998,-0.128940,1.000000,-0.195045,-0.279630,0.362615,0.044708,0.395593,-0.256916,-0.200666,0.512678
free sulfur dioxide,-0.282735,-0.352557,0.133126,0.402871,-0.195045,1.000000,0.720934,0.025717,-0.145854,-0.188457,-0.179838,0.055463,-0.471644
total sulfur dioxide,-0.329054,-0.414476,0.195242,0.495482,-0.279630,0.720934,1.000000,0.032395,-0.238413,-0.275727,-0.265740,-0.041385,-0.700357
density,0.458910,0.271296,0.096154,0.552517,0.362615,0.025717,0.032395,1.000000,0.011686,0.259478,-0.686745,-0.305858,0.390645
pH,-0.252700,0.261454,-0.329808,-0.267320,0.044708,-0.145854,-0.238413,0.011686,1.000000,0.192123,0.121248,0.019506,0.329129
sulphates,0.299568,0.225984,0.056197,-0.185927,0.395593,-0.188457,-0.275727,0.259478,0.192123,1.000000,-0.003029,0.038485,0.487218
alcohol,-0.095452,-0.037640,-0.010493,-0.359415,-0.256916,-0.179838,-0.265740,-0.686745,0.121248,-0.003029,1.000000,0.444319,-0.032970
quality,-0.076743,-0.265699,0.085532,-0.036980,-0.200666,0.055463,-0.041385,-0.305858,0.019506,0.038485,0.444319,1.000000,-0.119323
red_wine,0.486740,0.653036,-0.187397,-0.348821,0.512678,-0.471644,-0.700357,0.390645,0.329129,0.487218,-0.032970,-0.119323,1.000000

### 2. Set Target Variable

Create a target variable for wine quality.

In [10]:
# Target Variable - 1D array
y = wine['quality']
y

0       5
1       5
2       5
3       6
4       5
       ..
6492    6
6493    5
6494    6
6495    7
6496    6
Name: quality, Length: 6497, dtype: int64

### 3. Set Predictor Variables

Create a predictor matrix with variables of your choice. State your reason.

In [11]:
# Predictor matrix - 2D array
X = wine[['alcohol', 'free sulfur dioxide', 'pH']]
X

      alcohol  free sulfur dioxide    pH
0         9.4                 11.0  3.51
1         9.8                 25.0  3.20
2         9.8                 15.0  3.26
3         9.8                 17.0  3.16
4         9.4                 11.0  3.51
...       ...                  ...   ...
6492     11.2                 24.0  3.27
6493      9.6                 57.0  3.15
6494      9.4                 30.0  2.99
6495     12.8                 20.0  3.34
6496     11.8                 22.0  3.26

[6497 rows x 3 columns]

### 4. Using Linear Regression Create a Model and Test Score

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [13]:
# Train-Test Split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [14]:
# Create a model for Linear Regression
# Fit the model with the Training data
model = LinearRegression().fit(X_train, y_train)
print(model.intercept_)
print(model.coef_)

# Calculate the score (R^2 for Regression) for Training Data
print(model.score(X_train, y_train))

# Calculate the score (R^2 for Regression) for Testing Data
# Although you can use x_train and y_train to check the goodness of fit, this isn’t a best practice
#An unbiased estimation of the predictive performance of your model is based on test data
print(model.score(X_test, y_test))

2.1292231717846484
[ 0.35065756  0.00732633 -0.06677133]
0.22223019229336816
0.19222878929767462

### BONUS: Cross validation

In [15]:
# Cross validation 
from sklearn.model_selection import KFold 
from sklearn.metrics import mean_squared_error

In [16]:
k_fold = KFold(n_splits=5, shuffle=True) #n_splits = no. of folds
train_scores = []
train_rmse = []
test_scores = []
test_rmse = []

for k, (train, test) in enumerate(k_fold.split(X)):
    print(k, train, test)

0 [   0    2    3 ... 6494 6495 6496] [   1    4    9 ... 6485 6487 6492]
1 [   0    1    2 ... 6493 6494 6496] [   3    5    6 ... 6478 6489 6495]
2 [   0    1    2 ... 6494 6495 6496] [   7   10   15 ... 6484 6490 6493]
3 [   0    1    3 ... 6492 6493 6495] [   2   11   20 ... 6491 6494 6496]
4 [   1    2    3 ... 6494 6495 6496] [   0   13   16 ... 6454 6482 6486]

In [22]:
# Set up 5-fold cross validation 
#https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html#sklearn.model_selection.KFold
#https://www.youtube.com/watch?v=TIgfjmp-4BA&ab_channel=Udacity
#is a way to use "all" data for training and testing to enhance accuracy since there is tradeoff between train and test split

k_fold = KFold(n_splits=5, shuffle=True) #n_splits = no. of folds
train_scores = []
train_rmse = []
test_scores = []
test_rmse = []

regr = LinearRegression() #instantiate model object
#do this because everytime you write "LinearRegression()" it creates a new object and forgets what you previously fit

for k, (train, test) in enumerate(k_fold.split(X)):
    # use enumerate() anytime you need to use the count and an item in a loop
    # k_fold.split(data) returns generator object, so u use it in a for...in...statement
    
    # Get training and test sets for X and y
    Xtrain = X.loc[train]
    ytrain = y.loc[train]
    Xtest = X.loc[test]
    ytest = y.loc[test]
    
    # Fit model with training set
    model = regr.fit(Xtrain, ytrain)
    
    # Make predictions with training and test set
    ypred_train = regr.predict(Xtrain)
    ypred_test = regr.predict(Xtest)
    
    # Score R2 and RMSE on training and test sets and store in list
    train_scores.append(regr.score(Xtrain, ytrain))
    test_scores.append(regr.score(Xtest, ytest))
    train_rmse.append(mean_squared_error(ytrain, ypred_train))
    test_rmse.append(mean_squared_error(ytest, ypred_test))
    
# Create a metrics_df dataframe to display r2 and rmse scores
metrics_df = pd.DataFrame(list(zip(train_scores, test_scores, train_rmse, test_rmse)),
               columns =['train scores', 'test scores', 'train RMSE', 'test RMSE'])
metrics_df

   train scores  test scores  train RMSE  test RMSE
0      0.222787     0.190762    0.592661   0.616314
1      0.214231     0.224926    0.607819   0.555817
2      0.224163     0.183353    0.589903   0.627859
3      0.206173     0.250107    0.596213   0.603001
4      0.216717     0.215071    0.598757   0.592273

In [24]:
# Describe the metrics
metrics_df.describe()

       train scores  test scores  train RMSE  test RMSE
count      5.000000     5.000000    5.000000   5.000000
mean       0.216814     0.212844    0.597071   0.599053
std        0.007239     0.026911    0.006891   0.027652
min        0.206173     0.183353    0.589903   0.555817
25%        0.214231     0.190762    0.592661   0.592273
50%        0.216717     0.215071    0.596213   0.603001
75%        0.222787     0.224926    0.598757   0.616314
max        0.224163     0.250107    0.607819   0.627859

### 5. Feature Selection

What's your score (R^2 for Regression) for Testing Data? 

How many feature have you selected? Can you improve your score by selecting different features?

**Please continue with Lab 4.2.2 with the same dataset.**



---



---



> > > > > > > > > © 2021 Institute of Data


---



---