<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1 

## Learning objectives

This lab demonstrates examples of: 

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

In [89]:
# create a list of 10 student (use just first name)
students1 = ['amanda','beatrice','Celeste','Dion','Ethan','Fiona','Greg','Holly','Ivy','Justin']

#since not all names capitalized, CREATE NEW LIST with capitalized names
students = [student.capitalize() for student in students1]
print(students)

['Amanda', 'Beatrice', 'Celeste', 'Dion', 'Ethan', 'Fiona', 'Greg', 'Holly', 'Ivy', 'Justin']

In [22]:
# Print the list
print(students)

['Amanda', 'Beatrice', 'Celeste', 'Dion', 'Ethan', 'Fiona', 'Greg', 'Holly', 'Ivy', 'Justin']

In [48]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for student in students:
    print(f"Index {(students.index(student)+1):02} {student}")

Index 01 Amanda
Index 02 Beatrice
Index 03 Celeste
Index 04 Dion
Index 05 Ethan
Index 06 Fiona
Index 07 Greg
Index 08 Holly
Index 09 Ivy
Index 10 Justin

In [77]:
for index, name in enumerate(students):
    print("Index %02d -> " %(index+1) + name)

Index 01 -> Amanda
Index 02 -> Beatrice
Index 03 -> Celeste
Index 04 -> Dion
Index 05 -> Ethan
Index 06 -> Fiona
Index 07 -> Greg
Index 08 -> Holly
Index 09 -> Ivy
Index 10 -> Justin

In [50]:
# print the list of students in reverse order one student in a line with its index
for student in reversed(students):
    print(f"Index {(students.index(student)+1):02} {student}")

Index 10 Justin
Index 09 Ivy
Index 08 Holly
Index 07 Greg
Index 06 Fiona
Index 05 Ethan
Index 04 Dion
Index 03 Celeste
Index 02 Beatrice
Index 01 Amanda

In [78]:
for index, name in reversed(list(enumerate(students))):
    print("Index %02d -> " %(index+1) + name)

Index 10 -> Justin
Index 09 -> Ivy
Index 08 -> Holly
Index 07 -> Greg
Index 06 -> Fiona
Index 05 -> Ethan
Index 04 -> Dion
Index 03 -> Celeste
Index 02 -> Beatrice
Index 01 -> Amanda

In [16]:
# print the student list in random order
# hint look up the function random.sample
import random
print(random.sample(students,len(students)))

['Justin', 'Amanda', 'Ethan', 'Beatrice', 'Holly', 'Dion', 'Ivy', 'Celeste', 'Fiona', 'Greg']

In [51]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90,55,73,69,75]
students_marks = dict(zip(students,marks))
sorted_students_marks = sorted(students_marks.items(),
                              key=lambda x: x[1],
                              reverse=True)
for i in sorted_students_marks:
    print(i[0], ":", i[1], "marks")

Fiona : 90 marks
Amanda : 87 marks
Celeste : 76 marks
Justin : 75 marks
Holly : 73 marks
Ivy : 69 marks
Ethan : 66 marks
Dion : 64 marks
Greg : 55 marks
Beatrice : 45 marks

In [95]:
simpler_sorted_students_marks = dict((sorted(students_marks.items(), key=lambda x: x[1])))
print(simpler_sorted_students_marks)
#where [1] refers to 2nd element of each tuple (student name, marks)
#[0] would refer to 1st element of each tuple (student name, marks)

{'Beatrice': 45, 'Greg': 55, 'Dion': 64, 'Ethan': 66, 'Ivy': 69, 'Holly': 73, 'Justin': 75, 'Celeste': 76, 'Amanda': 87, 'Fiona': 90}

In [59]:
#Find marks given student's name
print(simpler_sorted_students_marks['Amanda'])

87

In [70]:
#Find student's name given marks
for student, marks in simpler_sorted_students_marks.items():
    if marks == 45:
        print (student)

Beatrice

In [76]:
print(simpler_sorted_students_marks.values())

dict_values([45, 55, 64, 66, 69, 73, 75, 76, 87, 90])